<% content_for :title, "All applications (admin-mode)" %>
<ul class="button-group radius even-5">
    <li><%= link_to :back, class: "button tiny secondary" do %><%= fa_icon 'angle-left', text: 'Back' -%><%- end -%></li>
    <li><%= link_to new_admin_application_path, class: 'radius button tiny success' do -%><%= fa_icon 'plus', text: 'New application' -%><%- end -%></li>
</ul>
<% @applications.each do |a| %>
        <%= image_tag a.avatar %>
        <%= a.id %>
        <%= link_to a.name, admin_application_path(a) %>
        <%= a.description %>
<% end %>
</table>
