<% content_for :title, "All applications" %>
<ul class="button-group radius even-5">
    <li><%= link_to :back, class: "button tiny secondary" do %><%= fa_icon 'angle-left', text: t('.back') -%><%- end -%></li>
</ul>
<% @applications.each do |a| %>
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-image">
        <%= link_to image_tag(a.avatar), application_path(a) %>
      </div>
      <div class="card-content">
        <span class="card-title"><%= link_to a.name, application_path(a) %></span>
        <p><%= a.description %></p>
      </div>
    </div>
  </div>
<% end %>
