<% content_for :title, t('all_model', model:Application.model_name.human(count: 2).downcase) %>
<ul class="button-group radius even-5">
    <li><%= link_to :back, class: "button tiny secondary" do %><%= fa_icon 'angle-left', text: t('.back') -%><%- end -%></li>
</ul>
<% @applications.each do |a| %>
  <div class="columns small-12 medium-6 large-6">
    <div class="card">
      <%= link_to image_tag(a.avatar), application_path(a) %>
      <div class="card-divider">
        <h4><%= link_to a.name, application_path(a) %></h4>
      </div>
      <div class="card-section">
        <p><%= a.description %></p>
      </div>
    </div>
  </div>
<% end %>
