<% content_for :title, "#{@application.name}"%>

<ul class="button-group radius even-5">
    <li><%= link_to applications_path, class: "button tiny secondary" do %><%= fa_icon 'angle-left', text: 'Back' -%><%- end -%></li>
</ul>
<div class="row">
<h3 class="subheader">Attributes</h3>
<table>
    <thead>
        <th>Attribute</th>
        <th width="100%">Value</th>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td><%= @application.name %></td>
        </tr>
        <tr>
          <td>Avatar</td>
          <td><%= image_tag @application.avatar %></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><%= @application.description %></td>
        </tr>
    </tbody>
</table>
</div>
