<h3 class="subheader">Attributes</h3>
<%= simple_form_for @group, url: url, method: method, defaults: {input_html: {class:"no-margin"} } do |f| %>
    <fieldset>
        <legend><%= fa_icon 'sliders', text: 'General' %></legend>
        <table style="width: 100%;">
            <colgroup>
                <col span="1" style="width: 20%;" />
                <col span="1" style="width: 80%;" />
            </colgroup>
            <tbody>
                <tr>
                    <td><span data-tooltip aria-haspopup="true" class="has-tip" title="Where to store the group">Container</span></td>
                    <td><%= f.input :container, as: :radio_buttons, collection: available_containers, checked: @group.base, label: false -%></td>
                </tr>
                <tr>
                    <td><span data-tooltip aria-haspopup="true" class="has-tip" title="Determines what attributes are available">Object Classes</span></td>
                    <td><%= @group.classes.join ', ' -%></td>
                </tr>
            </tbody>
        </table>

        <table style="width: 100%;">
            <colgroup>
                <col span="1" style="width: 20%;" />
                <col span="1" style="width: 80%;" />
            </colgroup>
            <tbody>
                <tr>
                    <td><span data-tooltip aria-haspopup="true" class="has-tip" title="Common Name - the unique ID of the group">CN</span></td>
                    <td><%= f.input :cn, label: false -%></td>
                </tr>
                <tr>
                    <td><span data-tooltip aria-haspopup="true" class="has-tip" title="The group ID (GID) on posix compliant systems">GID Number</span></td>
                    <td><%= f.input :gidNumber, as: :integer, label: false -%></td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend><%= fa_icon 'info', text: 'Committee/Society' %></legend>
        <table style="width: 100%;">
            <colgroup>
                <col span="1" style="width: 20%;" />
                <col span="1" style="width: 80%;" />
            </colgroup>
            <tbody>
                <tr>
                    <td><span data-tooltip aria-haspopup="true" class="has-tip" title="How to 'print' the group on news posts etc.">Display name</span></td>
                    <td><%= f.input_field :displayName, label: false -%></td>
                </tr>
                <tr>
                    <td><span data-tooltip aria-haspopup="true" class="has-tip" title="Whether the group is a Committee or a Society.">Type</span></td>
                    <td><%= f.input :type, collection: ['Committee', 'Society', 'Alumni'], selected: @group.type, label: false -%></td>
                </tr>
            </tbody>
        </table>
        <table width="100%">
            <thead>
                <th width="100%"><span data-tooltip aria-haspopup="true" class="has-tip" title="A short description of the groups function.">Function</span></th>
                <th>Action</th>
            </thead>
            <tbody>
            <% (append_if_empty @group.function(true)).each do |func| %>
                <tr class="function-type">
                    <td><%= f.input_field :function, multiple: true, value: func, label: false -%></td>
                    <td><%= remove_link '.function-type', text: '', classes:'radius button tiny alert no-margin' %></td>
                </tr>
            <% end %>
            <tr><td></td><td><%= add_more_link '.function-type', classes:'radius button tiny success no-margin' %></td></tr>
            </tbody>
        </table>
        <table width="100%">
            <thead>
                <th width="100%"><span data-tooltip aria-haspopup="true" class="has-tip" title="A description of the group">Description</span></th>
                <th>Action</th>
            </thead>
            <tbody>
                <% (append_if_empty @group.description(true)).each do |d| %>
                    <tr class="desc-type">
                        <td><%= f.input_field :description, multiple: true, value: d, as: :text, label: false -%></td>
                        <td><%= remove_link '.desc-type', text: '', classes:'radius button tiny alert no-margin' %></td>
                    </tr>
                <% end %>
                <tr>
                    <td></td><td><%= add_more_link '.desc-type', classes:'radius button tiny success no-margin' %></td></tr>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend><%= fa_icon 'comments-o', text: 'Contact' %></legend>
        <dl>
            <table width="100%">
                <thead>
                    <th width="100%"><span data-tooltip aria-haspopup="true" class="has-tip" title="A mail address were you can contact the group">Mail</span></th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% (append_if_empty @group.mail(true)).each do |m| %>
                        <tr class="mail-type">
                            <td>
                                <%= f.input_field :mail, multiple: true, value: m, label: false, placeholder: 'name@example.org' -%>
                            </td>
                            <td>
                                <%= remove_link '.mail-type', text: '', classes:'radius button tiny alert no-margin' %>
                            </td>
                        </tr>
                <% end %>
                    <tr>
                        <td></td>
                        <td><%= add_more_link '.mail-type', classes:'radius button tiny success no-margin' %></td>
                    </tr>
                </tbody>
            </table>

            <table width="100%">
                <thead>
                    <th width="100%"><span data-tooltip aria-haspopup="true" class="has-tip" title="Some kind of homepage that represents the group. E.g. github.com/cthit etc.">Homepage</span></th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% (append_if_empty @group.homepage(true)).each do |h| %>
                    <tr class="homepage-type">
                        <td><%= f.input_field :homepage, multiple: true, value: h, label: false, placeholder: 'https://www.example.org' -%></td>
                        <td><%= remove_link '.homepage-type', text: '', classes:'radius button tiny alert no-margin' %></td>
                    </tr>
                    <% end %>
                    <tr>
                        <td></td>
                        <td><%= add_more_link '.homepage-type', classes:'radius button tiny success no-margin' %></td>
                    </tr>
                </tbody>
            </table>
        </dl>
    </fieldset>
<h3 class="subheader">Group members</h3>
<%= content_tag :table do %>
    <thead>
        <th width="100%">Member</th>
        <th>Action</th>
    </thead>
    <tbody>
        <%= f.error :no_member %>
        <%- @group.member(true).each do |m| -%>
            <tr class="member-type">
                <td><%= f.input_field :member, placeholder: 'Enter full DN (cannot be empty)', class: 'autocomplete-dn', multiple: true, value: m, label: false -%></td>
                <td><%= remove_link '.member-type', classes: 'radius button tiny alert no-margin' -%></td>
            </tr>
        <%- end -%>
        <tr>
            <td></td>
            <td>
                <%= add_more_link '.member-type', classes:'radius button tiny success no-margin' %>
            </td>
        </tr>
    </tbody>
<%- end -%>
<ul class="button-group even-2">
    <li><%= link_to :back, class: "button small secondary" do %><%= fa_icon 'angle-left', text: 'Back' -%><%- end -%></li>
    <li><%= button_tag class: "button small success" do %><%= fa_icon 'save', text: 'Save' -%><%- end -%></li>
</ul>
<% end -%>
