<% content_for :title, "Edit #{@group.displayName} (admin-mode)"%>

<div class="row">
<h3 class="subheader">Attributes</h3>
<%= simple_form_for @group, url: admin_group_path(@group), method: :put do |f| %>
<table>
    <thead>
        <th>Attribute</th>
        <th width="100%">Value</th>
    </thead>
    <tbody>
        <tr>
            <td width="20%">DN</td>
            <td><%= @group.dn -%></td>
        </tr>
        <tr>
            <td>Object classes</td>
            <td><%= @group.classes.join ', ' -%></td>
        </tr>
        <%- @group.attributes.keys.each do |a| -%>
            <%- next if a == 'member' || a == 'objectClass' -%>
            <tr>
                <td><%= a.titlecase -%></td>
                <td><%= f.input a.to_sym, label: false, input_html: {class: 'no-margin'} -%></td>
            </tr>
        <%- end -%>
    </tbody>
</table>
<h3 class="subheader">Group members</h3>
<table>
    <thead>
        <th width="100%">Member</th>
        <th>Action</th>
    </thead>
    <tbody>
        <%- @group.member(true).each do |m| -%>
            <tr>
                <td><%= m.to_s -%></td>
                <td><%= link_to '#', class: 'radius button tiny alert no-margin' do -%><%= fa_icon 'remove' -%><%- end -%></td>
            </tr>
        <%- end -%>
    </tbody>
</table>
<ul class="button-group even-2">
    <li><%= link_to :back, class: "button small secondary" do %><%= fa_icon 'angle-left', text: 'Back' -%><%- end -%></li>
    <li><%= button_tag class: "button small success" do %><%= fa_icon 'save', text: 'Save' -%><%- end -%></li>
</ul>
</div>
<% end -%>
