<% content_for :title, @group.displayName %>
<% content_for :labels do %>
    <%= content_tag :span, t(@group.type.downcase), class: 'round success label' if @group.type %>
<% end  %>
<div class="row">
    <div class="small-9 columns">
        <%= content_tag :p, content_tag(:em, (@group.function_localised locale)) %>
    </div>
    <% if current_user && current_user.admin? %>
        <div class="small-3 columns">
            <%= link_to edit_admin_group_path(@group) do %><%= fa_icon 'cog', text: '(Admin view)' %><%- end -%>
        </div>
    <%- end -%>
</div>
<div class="row">
  <%= render 'groups/form', url: update_group_path(@group), method: :put %>
</div>
