<%= f.input :mail, label: User.human_attribute_name(:mail) %>

<div class="row">
  <div class="small-12 large-6 columns">
    <%= f.input :gn, label: User.human_attribute_name(:gn) %>
  </div>
  <div class="small-12 large-6 columns">
    <%= f.input :sn, label: User.human_attribute_name(:sn) %>
  </div>
</div>

<div class="row">
  <div class="small-12 large-7 columns">
    <%= f.input :nickname, label: User.human_attribute_name(:nickname) %>
  </div>
  <div class="small-12 large-5 columns">
    <%= f.input :telephonenumber, label: User.human_attribute_name(:telephonenumber), placeholder: '+46....' %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 columns">
    <%= f.input :cn, collection: LdapUser.display_formats, label: User.human_attribute_name(:cn), include_blank: false %>
  </div>
  <div class="small-12 medium-3 columns">
    <%= f.input :preferredLanguage, label: User.human_attribute_name(:preferredLanguage), collection: [[t('sv'), :sv], [t('en'), :en]], allow_blank: false %>
  </div>
</div>
<div class="row">
  <div class="small-8 medium-8 large-8 columns">
    <%= f.label :avatar do %>
      <%= User.human_attribute_name(:avatar) %>
      <br>
      <%= attr_or_not_entered(@user, "profile_image").html_safe%>
      <%= f.file_field :avatar_upload %>
    <% end %>
    <div class="small-8 medium-8 large-8 columns">
      <label>
        <%= f.check_box :remove_avatar %>
        Remove avatar
      </label>
    </div>
  </div>

</div>
