<% content_for :title, t('edit_profile') %>

<% if @user.errors.any? %>
  <div id="error_explanation" data-alert class="alert-box warning">
    <h3><%= t('error') %></h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, url: update_me_path) do |f| %>
  <%= f.label :uid do %>
    <%= User.human_attribute_name(:uid) %>
    <%= f.text_field :uid, disabled: true %>
  <% end %>

  <%= f.label :mail do %>
    <%= User.human_attribute_name(:mail) %>
    <%= f.email_field :mail %>
  <% end %>

  <div class="row">
    <div class="small-12 large-6 columns">
      <%= f.label :gn do %>
        <%= User.human_attribute_name(:gn) %>
        <%= f.text_field :gn %>
      <% end %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.label :sn do %>
        <%= User.human_attribute_name(:sn) %>
        <%= f.text_field :sn %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-7 columns">
      <%= f.label :nickname do %>
        <%= User.human_attribute_name(:nickname) %>
        <%= f.text_field :nickname %>
      <% end %>
    </div>
    <div class="small-12 large-5 columns">
      <%= f.label :telephonenumber do %>
        <%= User.human_attribute_name(:telephonenumber) %>
        <%= f.phone_field :telephonenumber, placeholder: '+46....' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-9 columns">
      <%= f.label :cn do %>
        <%= User.human_attribute_name(:cn) %>
        <%= f.select :cn, options_for_select(LdapUser.display_formats, f.object.cn) %>
      <% end %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= f.label :preferredLanguage do %>
        <%= User.human_attribute_name(:preferredLanguage) %>
        <%= f.select :preferredLanguage, options_for_select([[t('sv'), :sv], [t('en'), :en]], f.object.preferredLanguage) %>
      <% end %>
    </div>
  </div>

  <fieldset>
    <legend><%= t('notification', count: 2) %></legend>
    <table>
        <thead>
            <tr>
                <th><%= t '.service' %></th>
                <th><%= t '.token' %></th>
                <th><%= t '.device' %></th>
            </tr>
        </thead>
        <tbody>
      <% push_services.each do |s| %>
        <tr>
          <td><%= service_to_image s[:name] %> <%= link_to s[:name].titlecase, s[:url] %></td>
          <td><%= text_field_tag "ldap_user[push_services][#{s[:name]}][api]", (@user.push_services[s[:name]][:api] if @user.push_services  && @user.push_services[s[:name]]), maxlength: s[:maxtoken], placeholder: t('.token_placeholder') %></td>
          <td><%= text_field_tag "ldap_user[push_services][#{s[:name]}][device]", (@user.push_services[s[:name]][:device] if @user.push_services && @user.push_services[s[:name]]), maxlength: s[:maxdevice], placeholder: t('.device_placeholder') %></td>
        </tr>
      <% end %>
        </tbody>
    </table>
  </fieldset>

    <ul class="button-group even-2">
        <li><%= link_to me_path, class: 'button small secondary' do %><%= fa_icon('angle-left') + ' ' + t('back') %><% end %></li>
        <li><%= button_tag type: :submit, class: 'button small' do %><%= fa_icon('save') + ' ' + t('save') %><% end %></li>
    </ul>
<% end %>

