<% content_for :title, t('edit_your_info') %>

<% if @user.errors.any? %>
  <div id="error_explanation" data-alert class="alert-box warning">
    <h3><%= t('error') %></h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, url: update_me_path) do |f| %>
  <%= f.label :uid do %>
    <%= User.human_attribute_name(:uid) %>
    <%= f.text_field :uid, disabled: true %>
  <% end %>

  <%= f.label :mail do %>
    <%= User.human_attribute_name(:mail) %>
    <%= f.email_field :mail %>
  <% end %>

  <div class="row">
    <div class="small-12 large-6 columns">
      <%= f.label :gn do %>
        <%= User.human_attribute_name(:gn) %>
        <%= f.text_field :gn %>
      <% end %>
    </div>
    <div class="small-12 large-6 columns">
      <%= f.label :sn do %>
        <%= User.human_attribute_name(:sn) %>
        <%= f.text_field :sn %>
      <% end %>
    </div>
  </div>

  <%= f.label :nickname do %>
    <%= User.human_attribute_name(:nickname) %>
    <%= f.text_field :nickname %>
  <% end %>

  <%= f.label :cn do %>
    <%= User.human_attribute_name(:cn) %>
    <%= f.select :cn, options_for_select(LdapUser.display_formats, f.object.cn) %>
  <% end %>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.label :preferredLanguage do %>
        <%= User.human_attribute_name(:preferredLanguage) %>
        <%= f.select :preferredLanguage, options_for_select([[t('sv'), :sv], [t('en'), :en]], f.object.preferredLanguage) %>
      <% end %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.label :loginShell do %>
        <%= User.human_attribute_name(:loginShell) %>
        <%= f.select :loginShell, options_for_select(['/bin/bash', '/bin/zsh']) %>
      <% end %>
    </div>
  </div>

  <%= f.label :push_services do %>
    <%= User.human_attribute_name(:push_services, count: 2) %>
    <table>
      <% push_services.each do |s| %>
        <tr>
          <td><%= service_to_image s[:name] %> <%= link_to s[:name].titlecase, s[:url] %></td>
          <td><%= text_field_tag "ldap_user[push_services][#{s[:name]}][api]", (@user.push_services[s[:name]][:api] if @user.push_services), maxlength: s[:maxtoken], placeholder: 'User token' %></td>
          <td><%= text_field_tag "ldap_user[push_services][#{s[:name]}][device]", (@user.push_services[s[:name]][:device] if @user.push_services), maxlength: s[:maxdevice], placeholder: 'Device (empty = all)' %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <%= f.submit t('save'), class: 'button' %>
<% end %>

<%= link_to t('back'), me_path %> |
<%= link_to t('logout'), destroy_user_session_path, method: :delete %>
