<% content_for :title, t('edit_your_info') %>

<% if @user.errors.any? %>
  <div id="error_explanation" data-alert class="alert-box warning">
    <h3><%= t('error') %></h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, url: update_me_path) do |f| %>
  <%= render partial: 'form', locals: f: f %>

  <fieldset>
    <legend><%= t('notification', count: 2) %></legend>
    <%= f.label :notifyBy  do %>
      <%= User.human_attribute_name(:notifyBy) %><br>
      <%= f.collection_radio_buttons :notifyBy, ['mail', 'pushover', 'pushbullet'], :to_s, -> (s) { service_to_image(s) } %>
    <% end %>
    <table>
      <% push_services.each do |s| %>
        <tr>
          <td><%= service_to_image s[:name] %> <%= link_to s[:name].titlecase, s[:url] %></td>
          <td><%= text_field_tag "ldap_user[push_services][#{s[:name]}][api]", (@user.push_services[s[:name]][:api] if @user.push_services), maxlength: s[:maxtoken], placeholder: 'User token' %></td>
          <td><%= text_field_tag "ldap_user[push_services][#{s[:name]}][device]", (@user.push_services[s[:name]][:device] if @user.push_services), maxlength: s[:maxdevice], placeholder: 'Device (empty = all)' %></td>
        </tr>
      <% end %>
    </table>
  </fieldset>

  <%= f.submit t('save'), class: 'button' %>
<% end %>

<%= link_to t('back'), me_path %> |
<%= link_to t('logout'), destroy_user_session_path, method: :delete %>
