<% content_for :title, t('edit_profile') %>

<% if @user.errors.any? %>
  <div id="error_explanation" data-alert class="alert-box warning">
    <h3><%= t('error') %></h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @user.uid.equal? current_user.uid %>
  <% url = update_me_path %>
<% elsif current_user.admin? %>
  <% url = admin_update_user_path(@user) %>
<% end %>
  <%= simple_form_for(@user, :html => {:multipart => true}, url: url) do |f| %>
    <%= render partial: '/users/form', locals: {f: f} %>

  <fieldset>
    <legend><%= t('notification', count: 2) %></legend>
    <table>
        <thead>
            <tr>
                <th><%= t '.service' %></th>
                <th><%= t '.token' %></th>
                <th><%= t '.device' %></th>
            </tr>
        </thead>
        <tbody>
      <% push_services.each do |s| %>
        <tr>
          <td><%= service_to_image s[:name] %> <%= link_to s[:name].titlecase, s[:url] %></td>
          <td><%= text_field_tag "ldap_user[push_services][#{s[:name]}][api]", (@user.push_services[s[:name]][:api] if @user.push_services  && @user.push_services[s[:name]]), maxlength: s[:maxtoken], placeholder: t('.token_placeholder') %></td>
          <td><%= text_field_tag "ldap_user[push_services][#{s[:name]}][device]", (@user.push_services[s[:name]][:device] if @user.push_services && @user.push_services[s[:name]]), maxlength: s[:maxdevice], placeholder: t('.device_placeholder') %></td>
        </tr>
      <% end %>
        </tbody>
    </table>
  </fieldset>

    <ul class="button-group even-2">
        <li><%= link_to :back, class: 'button small secondary' do %><%= fa_icon('angle-left') + ' ' + t('back') %><% end %></li>
        <li><%= button_tag type: :submit, class: 'button small' do %><%= fa_icon('save') + ' ' + t('save') %><% end %></li>
    </ul>
<% end %>
