<% content_for :title, t("all_model", model:User.model_name.human(count: 2).downcase) %>

<dl class="sub-nav left">
    <dt>Filter:</dt>
    <dd class="<%= "active" if params[:admission].nil? %>"><a href="<%= users_path %>">All</a></dd>
<% (years_until_current 5).each do |y| %>
    <%= content_tag :dd, link_to(y, admission: y), class: active_on_equal(y.to_s, params[:admission]) %>
<% end %>
</dl>
<div>
<%= simple_form_for :search, html: {class: 'form-inline'}, method: :get do |f| %>
<%= f.input :type, label: false, selected: 'Nickname', collection: ['Nickname', 'CID', 'Name'], input_html: {class: 'selection-width'} -%>
<%= f.input :query, label: false, placeholder: t('.looking_for'), input_html: {class: 'input-width'} -%>
<%= button_tag type: :submit, class: 'button tiny top-align' do -%>
    <%= fa_icon 'search' -%>
<% end -%>
<% end %>
</div>
<table role="grid">
        <thead>
            <th>CID</th>
            <th>Full name</th>
            <th>Admission year</th>
        <% if @show_restricted %>
        <% end %>
        </thead>
        <tbody>
            <% @users.each do |u| %>
            <tr>
                <td><%= link_to u.uid, user_path(u) %></td>
                <td><%= u.name_and_nick %></td>
                <td><%= u.admission_year %></td>
            <% if @show_restricted %>
            <% end %>
            </tr>
        </tbody>

  <% end %>
</table>
