<% content_for :title, t("all_model", model:User.model_name.human(count: 2).downcase) %>

<dl class="sub-nav left">
    <dt>Filter:</dt>
    <dd class="<%= "active" if params[:admission].nil? %>"><a href="<%= users_path %>">All</a></dd>
<% (years_until_current 5).each do |y| %>
    <%= content_tag :dd, link_to(y, admission: y), class: active_on_equal(y.to_s, params[:admission]) %>
<% end %>
</dl>
<%= form_tag users_path, method: :get do -%>
    <div class="row collapse">
        <div class="small-2 columns">
            <%= select_tag :t, options_for_select(searchable_fields, params[:t]) -%>
        </div>
        <div class="small-5 columns">
            <%= search_field_tag :q, (params[:q] unless params[:q].nil?), placeholder: t('.looking_for') %>
        </div>
        <div class="small-2 columns end">
            <button id="q" class="button tiny">
                <%= fa_icon 'search' -%>
            </button>
        </div>
        <div class="small-12 columns">
            <em id="protip"><%= t('.protip') if @users.empty? %></em>
        </div>
    </div>
<% end -%>
<table role="grid">
        <thead>
            <th>CID</th>
            <th>Full name</th>
            <th>Admission year</th>
        <% if @show_restricted %>
        <% end %>
        </thead>
        <tbody>
            <% @users.each do |u| %>
            <tr>
                <td><%= link_to u.uid, user_path(u) %></td>
                <td><%= u.name_and_nick %></td>
                <td><%= u.admission_year %></td>
            <% if @show_restricted %>
            <% end %>
            </tr>
        </tbody>

  <% end %>
</table>
