<% content_for :title, t('.register_user') %>

<em><%= t '.chalmers_account' %></em>
<%= simple_form_for @chuser, url: lookup_me_path, method: :post, validate: true do |f| %>
  <%= f.error :base %>
  <div class="row collapse">
      <div class="small-2 columns">
          <span class="prefix"><%= fa_icon 'user' %></span>
      </div>
      <%= f.input :cid, placeholder: 'CID', label: false, wrapper_html: {class: "small-10 columns"} %>

      <div class="small-2 columns">
          <span class="prefix"><%= fa_icon 'lock' %></span>
      </div>
      <%= f.input :password, placeholder: t('password'), label: false, wrapper_html: {class: "small-10 columns"} %>
  </div>

  <%= button_tag t('.register_user'), class: 'button expand' %>

<% end %>
