<% is_admin_or_me = current_user && current_user != @user.db_user && current_user.admin?%>
<% title = (is_admin_or_me) ? '' : t('logged_in_as') + ' ' %>
<% content_for :title, title + @user.display_name %>
<section class="user-details">
  <table>
    <% user_attrs.each do |a| %>
      <tr>
        <td>
          <strong><%= User.human_attribute_name(a) %></strong>
        </td>
        <td>
          <%= attr_or_not_entered(@user, a) %><br>
        </td>
      </tr>
    <% end %>
  </table>
</section>
<% unless is_admin_or_me %>
<%= link_to t('edit'), edit_me_path, class: "button small" %> |
<%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "button small alert" %>
<%= link_to "chalmers.it", "#{Configurable.mainsite_url}#{Configurable.mainsite_login_uri}", class: "button small success right" %>
<% end %>
