<% content_for :title, t('login') %>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row collapse">
  <div class="small-2 columns">
      <span class="prefix">
        <%= fa_icon 'user' %>
      </span>
  </div>
  <%= f.input :cid, autofocus: true, placeholder: 'CID', label: false, wrapper_html: {class: "small-10 columns"} %>
  <div class="small-2 columns">
      <span class="prefix">
        <%= fa_icon 'lock' %>
      </span>
  </div>
  <%= f.input :password, autocomplete: "off", placeholder: t('password'), label: false, wrapper_html: {class: "small-10 columns"} %>

</div>
  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean, label: t('remember_me') %>
  <% end -%>
  <br>
  <%= button_tag class: 'login-btn small-12 columns button' do %>
      <%= fa_icon 'sign-in' -%>
      <%= t('login') -%>
  <% end -%>
<% end %>
