<nav class="top-bar" data-topbar role="navigation" data-options="mobile_show_parent_link:false">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to t('site_title'), "/", class: "top-logo" %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown dropdown-width <%= "active" if on_pages? authenticated_root_path, me_path %>">
<% if signed_in? %>
        <%= link_to me_path do %>
        <%= fa_icon 'user' %>
        <%= current_user.display_name %>
        <% end %>
<% else %>
        <a href="#"><%= t('menu') %></a>
<% end %>
        <ul class="dropdown">
<% if signed_in? && Pundit.policy(current_user, current_user.ldap_user).edit? %>
            <li><a href="<%= edit_me_path %>"><%= fa_icon 'edit' %> <%= t 'edit_profile'  %></a></li>
    <% if Pundit.policy(current_user, LdapUser).admin? %>
            <li><a href="<%= admin_path %>"><%= fa_icon 'cog' %> <%= t 'administration'  %></a></li>
    <% end %>
    <li class="logout"><%= link_to destroy_user_session_path do %><%= fa_icon 'sign-out' %> <%= t('logout') %><% end %></li>
<% else %>
          <li> <%= link_to new_user_session_path do %><%= fa_icon 'sign-in' %> <%= t 'login' %> <% end %>
          <li> <%= link_to new_password_path do %><%= fa_icon 'eject' %> <%= t 'forgot_password' %> <% end %>
          <li> <%= link_to new_me_path do %><%= fa_icon 'user-plus' %> <%= t 'create_user' %> <% end %>
<% end %>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    <li class="divider"></li>
    <li class="active">
    <%= link_to "#{Configurable.mainsite_url}#{Configurable.mainsite_login_uri}" do %>
        <%= fa_icon 'external-link', text: "chalmers.it" %>
    <% end %>
    </li>
    <li class="divider"></li>
<% if signed_in? %>
    <li class="has-dropdown">
        <a href="#"><%= fa_icon 'cubes' %> <%= t('my_subscriptions') %></a>
      <ul class="dropdown">
        <% if signed_in? %>
          <% current_user.subscribed_applications.each do |a| %>
            <li>
            <%= link_to application_path(a) do %>
              <%= fa_icon 'envelope-square', text: a.name %>
            <% end %>
            </li>
          <% end %>
        <% else %>

        <% end %>
       </li>
      </ul>
    </li>
 <% if signed_in? %>
    <li class="divider"></li>
    <% if Pundit.policy(current_user, LdapUser).index? %>
        <li class="hide-on-small <%= "active" if on_pages? users_path %>"><%= link_to users_path do %>
                <%= fa_icon 'users' %>
                <%= t("all_model", model:User.model_name.human(count: 2).downcase) %>
            <% end %>
        </li>
    <% end %>
    <% if Pundit.policy(current_user, LdapGroup).index? %>
        <li class="hide-on-small <%= "active" if on_pages? groups_path %>"><%= link_to groups_path do %>
                <%= (on_pages? groups_path) ? fa_icon('folder-open') : fa_icon('folder') %>
                <%= t("all_model", model:LdapGroup.model_name.human(count: 2).downcase) %>
            <% end %>
        </li>
    <% end %>
    <li class="divider"></li>
 <% end %>
<% end %>
    </ul>
  </section>
</nav>
